export DJANGO_ENV=

DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=

# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=envoy-bu-core
# DB_USERNAME=root
# DB_PASSWORD=123456


DATA_ANALYZER =
ENVOYS3URL =
APSCHEDULER_AUTO_START=

