DJANGO_ENV=
BROKERAGE_FRONTEND_BASE_URL=
JWT_SECRET=

DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

EMAIL_SENDING_API_URL=
EXTERNAL_API_URL=
CUSTOMER_REGISTRATION_API_URL=
CUSTOMER_RESET_PASSWAORD_API_URL =
CUSTOMER_FRONTEND_BASE_URL =
GENERATE_AUTH_KEY_API_URL =
IDP_BACKEND_APP_SECRET_KEY =
CREDENTIALS_RESTORE_API_URL =
CUSTOMER_SP_CODE =


apiVersion: v1
kind: ConfigMap
metadata:
  name: core
  namespace: backend-dev
data:
  DJANGO_ENV: "REDACTED"
  BROKERAGE_FRONTEND_BASE_URL: "REDACTED"

  DB_HOST: "REDACTED"
  DB_PORT: "REDACTED"
  DB_DATABASE: "REDACTED"
  DB_USERNAME: "REDACTED"
  DB_PASSWORD: "REDACTED"

  MAIL_MAILER: "REDACTED"
  MAIL_HOST: "REDACTED"
  MAIL_PORT: "REDACTED"
  MAIL_USERNAME: "REDACTED"
  MAIL_PASSWORD: "REDACTED"
  MAIL_FROM_ADDRESS: "REDACTED"
  MAIL_FROM_NAME: "REDACTED"

  EMAIL_SENDING_API_URL: "REDACTED"
  EXTERNAL_API_URL: "REDACTED"
  CUSTOMER_REGISTRATION_API_URL: "REDACTED"
  CUSTOMER_FRONTEND_BASE_URL: "REDACTED"
  CUSTOMER_RESET_PASSWAORD_API_URL: "REDACTED"
  
  S3_REGION: "REDACTED"
  S3_BUCKET_NAME: "REDACTED"
  S3_ACCESS_KEY_ID: "REDACTED"
  S3_SECRET_ACCESS_KEY: "REDACTED"

  CDN_BASE_URL: "REDACTED"

  GOOGLE_CLIENT_ID: "REDACTED"
  GOOGLE_CLIENT_SECRET: "REDACTED"
  GOOGLE_REDIRECT_URI: "REDACTED"
  GOOGLE_SCOPES: "REDACTED"

  GENERATE_AUTH_KEY_API_URL: "REDACTED"
  IDP_BACKEND_APP_SECRET_KEY: "REDACTED"
  CREDENTIALS_RESTORE_API_URL: "REDACTED"
  CUSTOMER_SP_CODE: "REDACTED"

  JWT_SECRET: "REDACTED"
