CRYPT_SECRET_KEY=
 
UNLIMIT_DATA_COUNT=
 
NOVA_API_URL=
 
# --------------------------------------------------------
# change the following values according to the environment
# --------------------------------------------------------
 
CORE_BASE_URL=
 
CORE_API_URL=
FINANCE_API_URL=
CRM_API_URL=
POLICY_API_URL=
REPORTS_API_URL=
 
ENCRYPTION_MODE=
 

UTILITIES_API_URL=
