CRYPT_SECRET_KEY=
UNLIMIT_DATA_COUNT=
NOVA_API_URL=

# --------------------------------------------------------
# change the following values according to the environment
# --------------------------------------------------------

CORE_API_URL=
CRM_API_URL=

ENCRYPTION_MODE=
SP_ID=
IDP_URL=

CRM_BASE_URL=
POLICY_BASE_URL=
FINANCE_BASE_URL=


S3_REGION=
S3_BUCKET_NAME=
S3_SECRET_ACCESS_KEY=
S3_ACCESS_KEY_ID=

S3CDN=
S3CDN_Domain=
