export DJANGO_ENV=

DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=

# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=envoy-bu-core
# DB_USERNAME=root
# DB_PASSWORD=123456

S3_REGION=
S3_BUCKET_NAME=
S3_SECRET_ACCESS_KEY=
S3_ACCESS_KEY_ID=

CDN_BASE_URL =

