Django>=4.0
djangorestframework
gunicorn
python-dotenv==1.0.1
djangorestframework
djangorestframework-simplejwt
requests
# mServices==0.10.50
mServices
psycopg2-binary  # If using PostgreSQL
bs4
djmigrator
honcho==1.0.1
mServices
ably
# PyMySQL    
mysqlclient>=2.2.1  
cryptography
pydantic
pydantic[email]
dotenv
openpyxl
reportlab
boto3
nanoid